<nav class="main-nav">
  <div class="nav-container">
    <% if (user) { %>
      <div class="user-controls">
        <a href="/logout" class="logout-button">
          <i class="fas fa-sign-out-alt" , ></i> Logout
        </a>
      </div>
    <% } %>
  </div>
</nav>
